* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 40px 0 20px;
  font-size: 4rem;
}

.input-section {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

input {
  padding: 20px 10px;
  font-size: 2rem;
  width: 550px;
  outline: none;
  border: 2pxsolid #000;
  border-radius: 0px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#button {
  width: 250px;
  padding: 20px 10px;
  background-color: gold;
}

li {
  font-size: 2rem;
  line-height: 3rem;
}

#heart {
  color: grey;
  font-size: 40px;
  margin: 0 20px;
  transition: all 0.5s ease;
}

#heart.red {
  color: red;
}
